<h1>Listing contracts</h1>
<table>
  <%= render :partial => 'contract_header' %>
  <%= render :partial => 'contract_details', :collection => @contracts %>
</table>

<h1>Listing Yearly Contracts</h1>
<table>
  <%= render :partial => 'contract_header' %>
  <%= render :partial => 'contract_details', :collection => @contractsYearly %>
</table>

<h1>Listing Monthly Contracts</h1>
<table>
  <%= render :partial => 'contract_header' %>
  <%= render :partial => 'contract_details', :collection => @contractsMonthly %>
</table>

<h1>Listing Bi-Monthly</h1>
<table>
  <%= render :partial => 'contract_header' %>
  <%= render :partial => 'contract_details', :collection => @contractsBimonthly %>
</table>

<h1>Listing Weekly</h1>
<table>
  <%= render :partial => 'contract_header' %>
  <%= render :partial => 'contract_details', :collection => @contractsWeekly %>
</table>

<h1>Listing One-Time Contracts</h1>
<table>
  <%= render :partial => 'contract_header' %>
  <%= render :partial => 'contract_details', :collection => @contractsOnce %>
</table>

<br />

<%= link_to 'New contract', new_contract_path %>