

<div id="contract_details" class="template_div">
	<div class="page_title_div">
		<span class="contract_name"><%= @title%></span> Contract Details
	</div>
	
	<div class="detail_div">
		<div class="detail_label">
		  Name
		</div>
		<div class="detail_value">
		  <%=h @contract.name %>
		</div>
		
		<div class="detail_label">
		  Description
		</div>
		<div class="detail_value">
		  <%=h @contract.description %>
		</div>
		
		<div class="detail_label">
		  Start Date
		</div>
		<div class="detail_value">
		  <%=h @contract.date_start.strftime("%m/%d/%y") %>
		</div>
		
		<div class="detail_label">
		  End Date
		</div>
		<div class="detail_value">
		  <%=h @contract.date_end.strftime("%m/%d/%y") %>
		</div>
		<div class="detail_label">
		  Amount
		</div>
		<div class="detail_value">
		  <%=h @contract.amount %>
		</div>
		
		<% if @contract.autopay %>
		<div class="detail_label">
		  Autopay Account
		</div>
		<div class="detail_value">
		   <span id="account_name_<%= @contract.autopayAccount.id %>" class="account_name"><%=h @contract.autopayAccount.name %></span> <%= render :partial => 'accounts/options', :locals => {:acc => @contract.autopayAccount} %>
   
		</div>
		<% end %>
		
		
	</div>
</div>
