
<div id="contract_listing_<%= contract_listing_details.id %>" class="data_row">
	<div class="contract_listing_data_name contract_listing_data data_cell"><%=h contract_listing_details.name %></div>
   	<div id="contract_listing_data_balance_<%= contract_listing_details.id %>" class="contract_listing_data_balance contract_listing_data data_cell"><%=h contract_listing_details.start_date %></div>
   	<div id="contract_listing_data_balance_<%= contract_listing_details.id %>" class="contract_listing_data_balance contract_listing_data data_cell"><%=h contract_listing_details.end_date %></div>
   	<div class="contract_listing_data_options contract_listing_data listing_link data_cell">
   		&nbsp;
    </div>
</div>