
 
 <% completed = pending_details.completed
 	overdue = pending_details.overdue?
 	autopay = pending_details.autopay 
 	amount_debit = pending_details.amount
 	amount_credit = 0
 	if pending_details.type == 'TransactionCredit'
 		amount_debit = 0
 		amount_credit = pending_details.amount
 	end%>
 	
	<div class="data_row <%= overdue ? "overdue" : "" %>" id="pending_detail_<%= pending_details.id%>">
    <div class="pending_data_name data_cell"><%=h pending_details.name %></div>
    <div class="pending_data_amount data_cell"><%= amount_debit > 0 ? (h real_currency amount_debit) : "&nbsp;" %></div>
    <div class="pending_data_amount data_cell"><%= amount_credit > 0 ? (h real_currency amount_credit) : "&nbsp;" %></div>
    <div class="pending_data_date data_cell"><%=h pending_details.scheduled_date.strftime("%m/%d/%y") %></div>
    <div class="pending_data_contract data_cell"><%= pending_details.contract.blank? ? "&nbsp;" : pending_details.contract.name%></div>
    
    
     <div class="pending_data_account data_cell">
    <% if pending_details.type == 'TransactionCredit'%>
    	<%= pending_details.sourceAccount.blank? ? "&nbsp;" : pending_details.sourceAccount.name%>
    <% elsif pending_details.type == 'TransactionDebit'%>
    	<%= pending_details.destinationAccount.blank? ? "&nbsp;" : pending_details.destinationAccount.name%>
    <% end %>
    </div>
		
	<div class="pending_data_options data_cell">
	
	<%= render :partial => 'transaction_options', :locals => {:trans => pending_details} %>
	</div>
	<div style="clear:both"></div>
  </div>

