
<% showCheckboxes = showRestore.nil? || showRestore || showDeactivate.nil? || showDeactivate %>

<table id="transaction_listing_table" class="listing_table">
	<thead><tr class="header_row">
	
<%	if showCheckboxes %>

   		<th>
   		
<% 		if showFilter.nil? || showFilter %>

   			<%= image_tag("/images/icons/funnel.png", {:onclick => "javascript:show_filters_dialog();"})%>	
   			
<% 		end %>	
<% 		if showRestore %>

   			<%= image_tag("/images/icons/tick.png", {:onclick => "javascript:post_form('#{account_restore_transactions_path(account)}', 'transactions_form', 'POST');"})%>
   			<%= image_tag("/images/icons/cross-script.png", {:onclick => "javascript:post_form('#{account_destroy_transactions_path(account)}', 'transactions_form', 'DELETE');"})%>
<% elsif showDeactivate.nil? || showDeactivate %>
			<%= image_tag("/images/icons/cross-script.png", {:onclick => "javascript:post_form('#{account_deactivate_transactions_path(account)}', 'transactions_form', 'DELETE');"})%>
			
<% 		end %>

   		</th>
 
<%	end %>
    	<th>Date</th>
		<th>Name</th>
		<th>Credit</th>
		<th>Debit</th>
<% if showBalance %>
	    <th>Balance</th>
<% end %>
	    <th>Pocket</th>
	 	<th>Options</th>
	</tr></thead>
	<tbody id="transactions">
		<%= render :partial => 'transactions/transactions_listing', :locals => {:account => account, :showBalance => showBalance, :showCheckboxes => showCheckboxes}, :collection => transactions, :as => :transaction %>
	</tbody>
</table>

<script type="text/javascript">
  	$(document).ready(function() { 
	    
		$('#transaction_listing_table').dataTable({
			"iDisplayLength": 15,
			"bPaginate": true,
			"bLengthChange": false,		
			"bFilter": true,
			"bSort": false,
			"sDom": 'rt<fpi><"clear">',
			"aoColumns": [
<% if showCheckboxes %>
				null,
<% end %>
				{"sType": 'date'},
				{"sType": 'string'},
				{"sType": 'numeric'},
				{"sType": 'numeric'},
			<% if showBalance %>
				{"sType": 'numeric'},
			<% end %>
				{"sType": 'string'},
				null
				]
		});
		  
  	} );
</script>