




<fieldset>
	<legend>Upload Transactions</legend>
	<ul>
		<li>  
			<label for="file[name]">File:</label>  
			<%= f.text_field :name %>
		</li>
  
  <% enumValue = EnumValue.new('dfs', 'adfa') %>
  <% if @rule.new_record? %>
  
  		<li>  
			<label for="file[name]">File:</label>  
			<%= collection_select(:rule, :type, RuleType.values, :key, :label, {}, {:onchange => 'change_rule_type()'}) %>
    	</li>
  <% end %>
  
  		<li>  
			<label for="file[name]">Rule:</label>  
			<%= collection_select(:rule, :comp_type, RuleCompType.values, :key, :label) %>
    		<%= f.text_field :comp_string %>
    		<input type="text" name="rule_date" id="rule_date" value="<%= session[:selector].startDate.strftime("%m/%d/%Y") %>" style="display:none;">
    	</li>
    	
  		<li>  
			<label for="file[name]">Action:</label>  
			<%= collection_select(:rule, :comp_action, RuleActionType.values, :key, :label) %>
    	</li>
    	
  		<li>  
			<label for="file[name]">Pocket:</label>  
			<%= render :partial => 'pockets/pocket_select', :locals => {:pockets => @pockets} %>	
    	</li>
    	
  		<li>  
			<label for="file[name]">Rank:</label>  
			<div class="yui-u"><%= f.text_field :rank %>
		</li>
	</ul>
</fieldset>
  
  <script type="text/javascript">
  	$(document).ready(function() {
		$("#rule_date").datepicker();
  	} );
		
</script>
  
 