<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Stateli Personal Finance</title>
  
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'swfobject' %>
  
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css"> 
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/fonts/fonts-min.css"> 
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/base/base-min.css"> 

  <%= stylesheet_link_tag 'bank' %>
  <%= calendar_date_select_includes "silver" %>
  
  <script type="text/javascript">
  
  	var is_over_calendar = false;

	function mouseover_calendar(){
		is_over_calendar = true;
	}
	
	function mouseout_calendar(){
		is_over_calendar = false;
	}

  	Event.observe(document, 'mousedown', function(el) {
  		if(!is_over_calendar){
			$$('.popup_calendar_div').each(function (el) {
	    		el.hide();	
	    		post_hide_calendar();
			});
		}
	});
  	
  	Event.observe(window, 'load',
      	function() { 
      		
<% unless current_user.nil? %>
      		if($('navigation_<%= @navkey %>')){
					$('navigation_<%= @navkey %>').addClassName('navselected');
			}
			
      		$$('li.navigation_button').each(function (el) {
    			return $(el).observe('mouseover', function() {
					this.addClassName('navmouseover');
    			});	
			});
			
			$$('li.navigation_button').each(function (el) {
    			return $(el).observe('mouseout', function() {
        			this.removeClassName('navmouseover');
    			});	
			});
			
			$$('.sub_navigation_button').each(function (el) {
    			return $(el).observe('mouseover', function() {
					this.addClassName('subnavmouseover');
    			});	
			});
			
			$$('.sub_navigation_button').each(function (el) {
    			return $(el).observe('mouseout', function() {
        			this.removeClassName('subnavmouseover');
    			});	
			});
		
<% end %>
			
			$$('.drop_down').each(function (el) {
    			return $($(el).parentNode).observe('mouseout', function() {
    				$(el).hide();
    			});
			});
			
			$$('.drop_down').each(function (el) {
    			return $($(el).parentNode).observe('mouseover', function() {
    				$(el).show();
    			});
			});
			
			$('main_title_div').observe('mouseover', function() {
				this.addClassName('main_title_div_mouseover');
			});
			
			$('main_title_div').observe('mouseout', function() {
    			this.removeClassName('main_title_div_mouseover');
			});
			
			
    });
    
<% if @navkey == 'flex' %>
    swfobject.registerObject("timeline_obj", "9.0.115", "expressInstall.swf");
    //swfobject.addParam("wmode", "transparent");
<% end %>
    
    
  </script>

</head>
<body>

<div id="main_div">

	<div id="welcome_div">
		<div id="welcome_left">
			&nbsp;
		</div>
		<div id="welcome_right">
			&nbsp;
		</div>
<% unless current_user.nil? %>
		<div style="float: left;">
			Welcome <%= current_user.login %>
		</div>
<% end %>
		<div id="login_form_div">
<% if current_user.nil? %>
			<% form_tag session_path do -%>
	 			<div id="new_session_login">
		  			<div class="login_form_label">Login</div>
			    	<div class="login_form_value">
			    		<%= text_field_tag 'login', @login, {:class => "base_form_field", :size => "15"} %>
			    	</div>
			  	</div>
			  	<div id="new_session_password">
				  	<div class="login_form_label">
				   		Password
				    </div>
				    <div class="login_form_value">
				    	<%= password_field_tag 'password', nil,  {:class => "base_form_field", :size => "15"} %>
				    </div>
			  	</div>
						  
				<!-- Uncomment this if you want this functionality
				<%= label_tag 'remember_me', 'Remember me' %>
				<%= check_box_tag 'remember_me', '1', @remember_me %>
				-->
				<div id="login_button_div">
					<%= submit_tag 'Log in', :class=> 'login_button'%>
				</div>
				<%= link_to_remote 'sign up', {:url => signup_path, :method => :get}, :class => 'listing_link' %>
				<div style="clear: both;"><!-- clearing div --></div>
					
			<% end -%>
<% else %>
			<div id="logout_div"><%= link_to "Log Out", logout_path %></div>
<% end %>
		</div><!-- login_form_div -->
	</div><!-- welcome_div -->

	<div id="main_title_div" class="main_title" onclick="click_navigation('<%= root_path %>', false)">
		StateLi Personal Finance
	</div>
	
	<div id="navigation">
		<div id="navigation_left">
			&nbsp;
		</div>
		<div id="navigation_right">
			&nbsp;
		</div>
		<ul id="navigation_enabled" class="navigation_tab" style="display:<%= current_user.nil? ? "none" : "block"%>">
			<li id="navigation_accounts" class="navigation_button">
				Accounts
				<ul class="drop_down" style="display:none">
					<li id="sub_navigation_account_listing" class="sub_navigation_button" onclick="click_navigation('<%= listing_path %>', <%=(current_user.nil?) %>)">
						&nbsp;View Current
					</li>
					<li id="sub_navigation_new_account" <%= onclick_to_remote :url => account_new_path, :method => :get %> class="sub_navigation_button">
						&nbsp;Create New
					</li>
				</ul>
			</li>
			<li id="navigation_pending" class="navigation_button" onclick="click_navigation('<%= transactions_pending_path %>',<%= current_user.nil? %>)">
				Pending
			</li>
			<li id="navigation_expenses" class="navigation_button">
				Expenses
				<ul class="drop_down" style="display:none">
					<li id="sub_navigation_expense_listing" class="sub_navigation_button" onclick="click_navigation('<%= expense_listing_path %>', <%= current_user.nil? %>)">
						&nbsp;View Current
					</li>
					<li id="sub_navigation_add_expense" class="sub_navigation_button" <%= onclick_to_remote :url => contract_credit_path, :method => :get %>>
						&nbsp;Create New
					</li>
				</ul>
			</li>
			<li id="navigation_income" class="navigation_button">
				Income
				<ul class="drop_down" style="display:none">
					<li id="sub_navigation_income_listing" class="sub_navigation_button" onclick="click_navigation('<%= income_listing_path %>',<%= current_user.nil? %>)">
						&nbsp;View Current
					</li>
					<li id="sub_navigation_add_income" class="sub_navigation_button" <%= onclick_to_remote :url => contract_debit_path, :method => :get %>>
						&nbsp;Create New
					</li>
				</ul>
			</li>
			<li id="navigation_flex" class="navigation_button">
				Flex Charts
				<ul class="drop_down" style="display:none">
					<li id="sub_navigation_account_journal_flex" class="sub_navigation_button" onclick="click_navigation('<%= account_journal_flex_path %>',<%= current_user.nil? %>)">
						&nbsp;Account Journal
					</li>
					<li id="sub_navigation_total_journal_flex" class="sub_navigation_button" onclick="click_navigation('<%= total_journal_flex_path %>',<%= current_user.nil? %>)">
						&nbsp;Total Journal
					</li>
					<li id="sub_navigation_account_pending_flex" class="sub_navigation_button" onclick="click_navigation('<%= account_pending_flex_path %>',<%= current_user.nil? %>)">
						&nbsp;Account Pending
					</li>
					<li id="sub_navigation_total_pending_flex " class="sub_navigation_button" onclick="click_navigation('<%= total_pending_flex_path %>',<%= current_user.nil? %>)">
						&nbsp;Total Pending
					</li>
				</ul>
			</li>
			<li style="clear:both;"></li>
		</ul>
		<ul id="navigation_disabled" class="navigation_tab" style="display:<%= current_user.nil? ? " block" : "none"%>">
			<li class="navigation_button navigation_button_disabled">
				Accounts
			</li>
			<li class="navigation_button navigation_button_disabled">
				Pending
			</li>
			<li class="navigation_button navigation_button_disabled">
				Expenses
			</li>
			<li class="navigation_button navigation_button_disabled">
				Income
			</li>
			<li class="navigation_button navigation_button_disabled">
				Flex Charts
			</li>
		</ul>
		<div style="clear:both"></div>
	</div>
	
	<div id="flashdiv"><%= flash[:notice] %></div>
	
	<div id="listing_form_div" class="form_div" style="display:none">
		<%= link_to_remote 'Cancel', {:url => cancel_popup_path, :method => :get}, :class => "form_link"%>
		<div id="listing_form">&nbsp;</div>
	</div>
	
	<%= yield %>
	
	<div id="footer">
		<div id="footer_left">
			&nbsp;
		</div>
		<div id="footer_right">
			&nbsp;
		</div>
		<div id="footer_text">
		<a href="http://www.timothyimhof.com">Timothy Imhof</a> 2009.&nbsp;&nbsp;&nbsp;
		</div>
	</div>
</div>
	


</body>
</html>
