

<div id="journal" class="template_div">
	<div class="page_title_div">
		<% if @month == -1 %>
			<%= @pocket.name %> - Total
		<% else %>
			<%= @pocket.name %> - <%= Date::MONTHNAMES[@month] %> <%= @year %>
		<% end %>
	</div><!-- page_title_div -->
	<%= render :partial => 'transactions/transactions_div', :locals => {:transactions => @transactions, :account => @account, :show_balance => false, :path => ''} %>
</div><!-- account_journal -->

