

<div id="account_details" class="template_div">

	<div class="detail_div">
		<div class="detail_label">
		  Name
		</div>
		<div id="account_name_<%=@account.id%>" class="detail_value">
		  <%=h @account.name %>
		</div>
		
		<div id="account_description_<%=@account.id%>" class="detail_label">
		  Description
		</div>
		<div id="account_description_<%=@account.id%>" class="detail_value">
		  <%=h @account.description %>
		</div>
		
		
		<div class="detail_label">
		  Balance
		</div>
		<div id="account_balance_<%= @account.id %>" class="detail_value">
		  <%=h real_currency @account.balance %>
		</div>
		
	</div>
</div>
